

<div class="container">
    <div class="panel">
        <div class="p-3 mb-2 bg-success text-white"><h2>Add a DVD</h2></div>

        <form>
           
            <div class="form-group">
              <label for="isbn"><h5><B>ISBN :</B></h5></label>
              <input type="isbn" class="form-control" id="isbn" placeholder="ISBN" [(ngModel)]="isbn" name="isbn" required>
            </div>
          
          <div class="form-group">
            <label for="title"><h5><B>The Title :</B></h5></label>
            <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" placeholder="Title of the Book" required>
          </div>
          <div class="form-group">
            <label for="sector"><h5><B>The Sector :</B></h5></label>
            <input type="text" [(ngModel)]="sector" name="sector" class="form-control" id="sector" placeholder="Sector" required>
          </div>
        
            <div class="form-group">
                <div class="form-group col-md-4">
                <label for="publisheddate"><h5><B>Published Day :</B></h5></label>
                <input type="text" [(ngModel)]="publishedday" name="publishedday" class="form-control" id="publishedday" placeholder="DD" required>
              </div>
              <div class="form-group col-md-4">
                  <label for="publisheddate"><h5><B>Published Month :</B></h5></label>
                  <input type="text" [(ngModel)]="publishedmonth" name="publishedmonth" class="form-control" id="publishedmonth" placeholder="MM" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="publisheddate"><h5><B>Published Year :</B></h5></label>
                    <input type="text" [(ngModel)]="publishedyear" name="publishedyear" class="form-control" id="publishedyear" placeholder="YYYY" required>
                  </div>
                </div>
              <div class="form-group">
                  <label for="availablelang"><h5><B>Available languages :</B></h5></label>
                  <input type="text" [(ngModel)]="availablelang" name="availablelang" class="form-control" id="availablelang" placeholder="Available Languages " required>
                </div>
                <div class="form-group">
                    <label for="availablesub"><h5><B>Available Subtitles :</B></h5></label>
                    <input type="text" [(ngModel)]="availablesub" name="availablesub" class="form-control" id="availablesub" placeholder="Available Subtitles" required>
                  </div>
                  <div class="form-group">
                      <label for="producer"><h5><B>Producer :</B></h5></label>
                      <input type="text" [(ngModel)]="producer" name="producer" class="form-control" id="producer" placeholder="Producer" required>
                    </div>
                    <div class="form-group">
                        <label for="actor"><h5><B>Actor :</B></h5></label>
                        <input type="text" [(ngModel)]="actor" name="actor" class="form-control" id="actor" placeholder="Actor" required>
                      </div>
                      <mat-checkbox required><h4>Add This DVD</h4></mat-checkbox><br><br>
          <button type="submit" class="btn btn-primary btn-lg" value="Submit" (click)="adddvd()"><h4>ADD</h4></button>
          <div class="divider"></div>
          <button type="reset" class="btn btn-danger btn-lg" value="Reset"><h4>RESET </h4></button>
        </form>




<br><br>
<a routerLink="/add" routerLinkActive="active"><button type="submit" class="btn btn-dark" name="backdvd" id="backdvd" value="RUN"><h3>Back</h3></button></a>

</div></div>