<body>
  <div id="navbar">
    <div class="sidenav">
      
        <!-- <a routerLink="/menu">MENU</a> -->
       
        <a routerLink="/display">Display Item</a>
        <a routerLink="/borrow">Borrow Item</a>
        <a routerLink="/return">Return Item</a>
        
        <!-- <a routerLink="/logout">Logout</a> -->
  </div>
  </div>
  
      <div class="panel">
        <div class="img">
          </div>
          
        </div>
  
 
  </body>
    <!-- <router-outlet></router-outlet>       -->