.panel{
    padding-left:8%;
    background-color: rgb(233, 240, 171);
    background-image: url('/assets/IMG/l7.jpg') ;
    background-size: 1100px 500px;
    height:396px;
}
.divider{
    width:15px;
 display:inline-block;
}
.dividerX{
    width:20px;
    display:inline-block;
}