


    <div class="panel">
      <div class="p-3 mb-2 bg-primary text-white"><h2>BORROW ITEM</h2></div>
      
      <div class="p-3 mb-2 bg-secondary  text-white"><h3>Select the Item you want to borrow</h3>
      <a routerLink="/borrowbook" routerLinkActive="active"><button type="submit" class="btn btn-warning" name="borrowbook" id="borrowbook" value="RUN"><h3>Borrow A Book</h3></button></a>
      <div class="divider"></div>
      <a routerLink="/borrowdvd" routerLinkActive="active"><button type="submit" class="btn btn-warning " name="borrowdvd" id="borrowdvd" value="RUN"><h3>Borrow A DVD</h3></button></a>
      <br><br><br><br>
<a routerLink="/menustudent" routerLinkActive="active"><button type="submit" class="btn btn-dark" name="backbook" id="backbook" value="RUN"><h3>Back</h3></button></a>
      </div>
      
      </div>
      
       <!-- <router-outlet></router-outlet>    -->