
    <div class="panel">
<div class="p-3 mb-2 bg-primary text-white"><h2>ADD ITEM</h2></div>

<div class="p-3 mb-2 bg-secondary  text-white"><h3>Select the Item you want to add</h3>
<a routerLink="/addbook" routerLinkActive="active"><button type="submit" class="btn btn-warning" name="addbook" id="addbook" value="RUN"><h3>Add A Book</h3></button></a>
<div class="divider"></div>
<a routerLink="/adddvd" routerLinkActive="active"><button type="submit" class="btn btn-warning " name="adddvd" id="adddvd" value="RUN"><h3>Add A DVD</h3></button></a>
<br><br><br><br>
<a routerLink="/menu" routerLinkActive="active"><button type="submit" class="btn btn-dark" name="backbook" id="backbook" value="RUN"><h3>Back</h3></button></a>
</div>

</div>

 <!-- <router-outlet></router-outlet>    -->