<body>
<div class="img">
<div class="p-3 mb-2 bg-dark text-white" ><h1 align="center">Welcome to Library System <a routerLink="/logout" routerLinkActive="active"><button type="submit" class="btn btn-warning" name="dbook" id="dbook" value="RUN" style="float: right;"><h4>LOG OUT</h4></button></a></h1><br>
<h4 align="center">University of Westminster  </h4></div>

</div>

  

  <!-- <div class="i">
    </div>
     -->
 

</body>
 <router-outlet></router-outlet>    
    <!-- <app-menu></app-menu>      
    -->
   <!-- <app-menustudent></app-menustudent>    -->