



    <div class="panel">
            <div class="p-3 mb-2 bg-primary text-white"><h2>Delete ITEM</h2></div>
<div class="p-3 mb-2 bg-secondary  text-white"><h3>Select the Item you want to delete</h3>
    <a routerLink="/dbook" routerLinkActive="active"><button type="submit" class="btn btn-warning" name="dbook" id="dbook" value="RUN"><h3>Delete A Book </h3></button></a>
<div class="divider"></div>
<a routerLink="/ddvd" routerLinkActive="active"><button type="submit" class="btn btn-warning " name="ddvd" id="ddvd" value="RUN"><h3>Delete A DVD</h3></button></a>

<br><br><br><br>
<a routerLink="/menu" routerLinkActive="active"><button type="submit" class="btn btn-dark" name="backbook" id="backbook" value="RUN"><h3>Back</h3></button></a>
</div></div>
   <!-- <router-outlet></router-outlet>    -->