


    <div class="panel">
        <div class="p-3 mb-2 bg-primary text-white"><h2>Display Item</h2></div>
        <div class="p-3 mb-2 bg-secondary  text-white"><h3>Select the Item you want to display</h3>
          <a routerLink="/displaydetails" routerLinkActive="active"><button type="submit" class="btn btn-warning" name="dbook" id="dbook" value="RUN"><h3>Display A Book </h3></button></a>
      <div class="divider"></div>
      <a routerLink="/displaydvd" routerLinkActive="active"><button type="submit" class="btn btn-warning " name="ddvd" id="ddvd" value="RUN"><h3>Display A DVD</h3></button></a>
      <br><br><br><br>
<a routerLink="/menustudent" routerLinkActive="active"><button type="submit" class="btn btn-dark" name="backbook" id="backbook" value="RUN"><h3>Back</h3></button></a>
      </div></div>
      <!-- <router-outlet></router-outlet>   -->